---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About Me | Raj's Blog" description="About Albert Wesker and more." />
	</head>
	<body>
		<div class="site-container">
			<Header />
			<main>
				<div class="box">
					<h1>Welcome to the about page!</h1>
					<p>
						Albert Wesker[a] is a character in the Resident Evil survival horror video game series created by the Japanese company Capcom. He was first introduced in the original Resident Evil (1996) as the captain of the Special Tactics and Rescue Service (S.T.A.R.S.) unit of the Raccoon Police Department. Wesker has been one of the series' main antagonists as a member of the pharmaceutical conglomerate Umbrella Corporation, the primary antagonistic faction, manipulating story events behind the scenes. To further his own plans, Wesker betrays his allies, fakes his death, gains superhuman abilities, and works with both Umbrella's mysterious rival company and their successors in the field of biological weapons development until his ultimate defeat by Chris Redfield and Sheva Alomar in Resident Evil 5 (2009).
					</p>
					<p>
						Wesker appears in several Resident Evil games, novelizations, and films and has also appeared in other game franchises, including Marvel vs. Capcom, Teppen, and Dead by Daylight. In his first appearance, Wesker was voiced by Pablo Kuntz, while D. C. Douglas voiced the character across most of his other appearances; in Japanese dubbings, Jouji Nakata has consistently voiced the character across all of his video game appearances. Several actors have portrayed Wesker, including Jason O'Mara, Shawn Roberts, Tom Hopper, and Lance Reddick, in the live-action Resident Evil films and television series.
					</p>
					<p>
						Wesker was conceptualized by writer Kenichi Iwao, who envisioned Wesker as an arrogant, intelligent, and unsympathetic character. Wesker is presented as a virologist focused on advancing human evolution and later becomes a bio-terrorist obsessed with eradicating humanity. He possesses superhuman strength, speed, stamina, and regeneration, and he mutates into a more powerful form in Resident Evil 5. Wesker has received mostly positive reviews from video game publications, with critics praising him for being one of the most memorable video game villains, particularly his death, but critiquing him for appearing as a one-dimensional and stereotypical villain.
					</p>
				</div>
			</main>
			<Footer />
		</div>
	</body>
</html>
